@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: .3s;
    --main-padding-top: 80px;
    --main-padding-bottom: 80px;
    --section-background: #ececec;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

/* img {
    max-width: 100%
} */
.container {
    /* width: 80%; */
    padding: 0 15px;
    margin: 0 auto;

}

/* Small */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}


.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    /* background: #d54346;
    background: linear-gradient(140deg, rgb(120, 48, 62) 0%, rgb(242, 93, 123) 100%); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 3s ease;
    /* position: relative; */
}

.loader-bg h3 {
    position: absolute;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
}

#loader {
    position: relative;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--main-color);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#btn_top {
    position: fixed;
    bottom: -80px;
    right: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    /* z-index: 1; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: 50;
}

header.scroll {
    background-color: #444;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo h2 {
    color: var(--main-color);
    font-weight: bold;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}


header ul li {
    padding: 15px;
    transition: .3s;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}

nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);

}

nav .toggle-menu {
    display: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menu-list .close {
    display: none;
}

@media (max-width:767px) {
    header{
        background-color: #444;
    }
    nav .toggle-menu {
        display: block;
    }

    .menu-list {
        /* display: none; */
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        transition: .2s;
        width: 100%;
        background-color: #444;
        height: 0;
        overflow: hidden;
    }

    .menu-list.active {
        height: 400px;
    }

    .menu-list .menu {
        flex-direction: column;
        width: 100%;
        transition: .5s;
        opacity: 0;
    }

    .menu-list.active .menu {
        opacity: 1;
    }

    .menu-list .menu li {
        text-align: center;
    }

    header ul li a {
        font-size: 18px;
        font-weight: bold;
    }

}




.intro {
    /* margin: 0; */
    background-image: url(../images/img0.jpg);
    background-size: cover;
    background-position: center;
    /* height: calc(100vh - 53px); */
    height: 100vh;
    position: relative;
    transition: .7s;
}

.intro::before {
    content: '';
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.intro .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: #1da0f262;
    color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

.intro .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .intro .text {
        width: 100%;
    }

    .intro .text .content {
        max-width: 100%;
    }
}

.intro .text h1 {
    color: #fff;
    font-size: 40px;
}

.intro .text h1 span {
    /* background-color: var(--main-color); */
    /* color: var(--main-color); */
}

.intro .text p {
    color: #eee;
    font-weight: bold;
    font-size: 20px;

}

.about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.about .text-bout {
    width: 50%;

}

.about .image {
    width: 40%;
    position: relative;
}

@media (max-width:767px) {
    .about .image {
        display: none;
    }

    .about .text-bout {
        width: 100%;

    }
}

.about .image img {

    max-width: 100%;
}

.about h2 {
    font-size: 30px;
    color: #000;
}

.about p {
    font-size: 20px;
    color: rgb(64, 62, 62);
    line-height: 1.5;
    width: fit-content;
    margin: 0 auto;

}

/* Start Featured work  */
.featured-work {
    padding: 50px 0;
    background-color: #f6f6f6;
}

.featured-work h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.featured-work p {
    line-height: 1;
    font-size: 15px;
    width: 50%;
    margin: 0 auto 15px;
    color: #43484a;
    text-align: center;
}

.featured-work ul {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-work ul li {
    color: #08526d;
    border: 2px solid #08526d;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width:767px) {
    .featured-work ul {
        flex-direction: column;
    }

    .featured-work ul li {
        padding: 10px 0;
        margin-left: 0;
    }
}

.featured-work ul li.active,
.featured-work ul li:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #ffffff;
}

.featured-work ul li:hover {
    cursor: pointer;
}

.featured-work .shuffle-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
}

.featured-work .shuffle-imgs .image {
    /* width: 23%; */
    box-shadow: 1px 2px 10px #dfdfdf;

    overflow: hidden;
    border-radius: 5px;
    /* padding: 0; */
    /* flex: 1 1 auto; */
    flex-grow: 1;
    position: relative;

}

.featured-work .shuffle-imgs .image img {
    max-width: 100%;
}

.featured-work .shuffle-imgs .image .desc-services {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;

}

.featured-work .shuffle-imgs .image .desc-services:hover {
    background-color: var(--main-color);
    opacity: .7;
    transition: .3s;
}

.shuffle-imgs .image .desc-services h3,
.shuffle-imgs .image .desc-services p {
    padding: 15px;
    margin: 0;
    color: #000;
    width: 100%;
    text-align: start;
    font-weight: bold;
}


.featured-work .shuffle-imgs .image img {
    width: 100%;
    height: 100%;
    /* transition-delay: .3s; */
}


/* End Featured work  */

.our-skills {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.our-skills h2 {
    padding: 15px;
    border: 2px solid #333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
}

.our-skills .container {
    display: flex;
}

.our-skills img {
    /* max-width: 100%; */
}

@media (max-width:991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.our-skills .skills .skill .info .title {
    font-size: 20px;
    font-weight: bold;
}

.our-skills .skills .skill .info .ratio {
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .skills .skill .skill-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.our-skills .skills .skill .skill-progress span {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    transition: width .5s linear;
}


.testimonials {
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
    background-color: #dfdfdf;
}

.testimonials h2 {
    padding: 20px;
    border: 2px solid #333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}

.testimonials .box {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px #ccc;

}

.testimonials .box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    top: -50px;
    border: 10px solid #dfdfdf;
}

.testimonials .box h3 {
    margin: 0 0 10px;

}

.testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.5;
}

.events {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
}

.events .dots {
    background-image: url(../images/dots.png);
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    position: absolute;
}

@media (max-width:767px) {
    .events .dots {
        display: none;
    }
}

.dot1 {
    left: 0;
    top: 200px;
}

.dot2 {
    bottom: 200px;
    right: 0;
}

.events>h2 {
    padding: 20px;
    border: 2px solid #333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.events .event-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.events .event-box img {
    max-width: 450px;
}

@media (max-width:767px) {
    .events .event-box img {
        display: none;
    }
}

.events .event-box .info {
    /* flex: 1; */
    text-align: center;
}

.events .event-box .info .time {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.events .event-box .info .time .unit {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 7px;
    align-items: center;
}

.events .event-box .info .time .unit span:nth-child(2) {
    border-top: 1px solid #e4e4e4;
    padding: 15px 20px;
}

.events .event-box .info .time .unit .days {
    flex: 1;
    padding: 20px 10px;
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    width: fit-content;
}

.events .event-box .info h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0px;
    margin: 0 10px;
    margin-top: 20px;
}

.events .event-box .info p {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: var(--section-background);
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events .subscribe form {
        width: fit-content;
    }

}

.events .subscribe form input {
    padding: 20px;
    border-radius: 50px;
    flex: 1;
    caret-color: var(--main-color);
    border: none;
    background-color: #fff;
}

.events .subscribe form button {
    padding: 20px;
    border: none;
    color: #FFF;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
}



.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.pricing>h2 {
    padding: 20px;
    border: 2px solid #333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background-color: #fff;
    padding: 20px 0;
}

.pricing .popular {
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
}

.pricing .popular .label {
    content: '';
    writing-mode: vertical-rl;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: var(--main-color);
    width: 50px;
    height: 150px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px 20px;
}

.pricing .popular::after {}

.pricing .box h2 {
    text-align: center;
    margin: 0px auto 30px;

}

.pricing .box img {
    width: 80px;
    display: block;
    margin: 20px auto;
}

.pricing .box .price {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pricing .box .price .price-number {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing .box .price span:nth-child(2) {
    color: #777;
}

.pricing .box .price {}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #e4e4e4;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .box a {
    display: block;
    color: var(--main-color);
    padding: 15px;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 10px;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.stats {
    padding: 50px 0;
    background-image: url("../images/stats.jpg");
    background-size: cover;
    position: relative;
    /* margin-top: 50px; */

}

.stats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.873);

}

.stats h2 {
    padding: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: #333;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
    justify-content: center;
}

.stats .box {
    background-color: #fff;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #dfdfdf;
}

.stats .box i {
    color: #333;
    font-weight: bold;
    font-size: 30px;

}

.stats .box span {
    margin-top: 15px;
    font-weight: bold;
}

.stats .box span.num {
    color: #333;
    font-size: 50px;
}

.stats .box span.text {
    color: var(--main-color);
    font-size: 25px;
}

.contact {
    /* margin: 50px 0; */
    padding: 60px 0;
    background-color: #fff;
}

.contact h2 {
    padding: 15px;
    border: 2px solid #333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.contact .content {
    display: flex;
    justify-content: space-between;

}




.contact .content .map {
    width: 50%;
    height: 410px;
    /* padding: 20px 0; */
}

.contact .content .map iframe {
    width: 100%;
    height: 100%;

}

.contact .content .contact-form {
    padding: 0 20px;
    width: 49%;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }

    .contact .content .map,
    .contact .content .contact-form {
        width: 100%;
        margin-top: 10px;
    }
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
}

.input-control.success input,
.input-control.error textarea {
    border-color: #09c372;
}

.input-control.error input,
.input-control.error textarea {
    border: 2px solid #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    margin: 0;
}

form input {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgb(238, 234, 234);
    margin: 10px 0;
    border: none;
}

form input:first-of-type {
    margin-top: 0;
}

form input:focus,
form textarea:focus {
    /* outline: 2px solid #1d645d; */
    outline: none;
}

form textarea {
    width: 100%;
    display: block;
    /* height: 200px; */
    background-color: rgb(238, 234, 234);
    padding: 15px;
    border: none;
}

form button {
    width: fit-content;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    margin-top: 12px;
    background-color: #1da1f2;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #191919;
    padding: 70px 0 0;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .box {
    width: 32%;
}

@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .box {
        width: 100%;
    }
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: .3s;
}

.footer .box .social .facebook:hover {
    background-color: var(--main-color);
}

.footer .box .social .twitter:hover {
    background-color: var(--main-color);
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: .3s;
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: .3s;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* End Footer */