@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;500;600;700&family=Baloo+Bhaijaan+2:wght@400;700&family=Cairo:wght@300;400&family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --main-color: #4e9350;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

body,
ul {
    padding: 0;
    margin: 0
}

.wrapper,
header .menu ul,
header nav {
    display: flex
}

body,
footer p,
ul {
    margin: 0
}

/* img {
    max-width: 100%
} */

ul {
    list-style: none
}

a {
    text-decoration: none
}

.container {

    padding: 0 15px;
    margin: 0 auto;

}

/* Small */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

header {
    background-color: #fff;
    box-shadow: 0 2px 15px #d3d1d1;
    padding: 12px;
}

header nav,
nav .menu,
nav ul {
    display: flex;
    align-items: center;
}

header nav {
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width:767px) {
    header nav .logo {
        width: 100%;
        height: 50px;
        text-align: center;
    }
}

header nav .logo span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

header nav .logo span:nth-child(1) {
    color: #424040b8;
}

header nav .logo span:nth-child(2) {
    color: var(--main-color);
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: #424040;
    text-align: center;
}

nav .menu .btn-login {
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 18px;
    border-radius: 40px;
}

@media (max-width:767px) {
    nav .menu .btn-login {
        display: none;
    }
}

/* End Header */

.content-header {
    background-color: #f7f7f7;
    padding: 20px;
}

.content-header .secondary-menu {
    display: flex;
    text-align: center;
}

.content-header .secondary-menu li {
    padding-right: 10px;
}

.content-header .secondary-menu li a {
    color: rgb(98, 98, 98);
    font-size: 15px;
}

.content-header .secondary-menu li:not(:first-child) a::before {
    content: '/';
    padding-left: 0.5rem;
}

.content-header .secondary-menu li:last-child a {
    font-weight: bold;
}

.content-header h4 {
    margin: 10px 0 0;
    font-size: 15px;

}

/* End Content Header */


.content-header-secondary {
    background-color: var(--main-color);
    padding: 20px;
}

.content-header-secondary .secondary-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-header-secondary .secondary-menu li a {
    color: rgba(255, 255, 255, 0.825);
    font-size: 12px;
}

.content-header-secondary .secondary-menu li:not(:first-child) a::before {
    content: '|';
    padding-left: 0.6rem;
}

/* End Content Header secondary */
.about {
    padding: 50px;

}

@media (max-width:767px) {
    .about {
        padding: 20px;

    }

    .about .wrapper {
        flex-direction: column;
    }

    .about .wrapper .text,
    .about .wrapper .parent {
        width: 100%;
    }

}

.about .text {
    width: 40%;
    padding: 30px;
}

.about .text h3 {
    font-size: 18px;
}

.about .text p {
    color: #a7a6a6;
    line-height: 1.6;
    font-size: 15px;
}

.about .text .btn {
    margin-top: 50px;
}

.about .text a {
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 40px;
}

.about .parent {
    padding: 50px;
    width: 50%;
    height: 400px;
    position: relative;
    text-align: end;

}

.about .parent img {
    max-width: 100%;
}

.image1,
.image2,
.image3 {
    border-radius: 15px;
    box-shadow: 0 0 7px #939191;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.about .parent .image1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.about .parent .image2 {
    position: absolute;
    top: 42%;
    left: 5%;
    z-index: 2;
}

.about .parent .image3 {
    position: absolute;
    top: 12%;
    left: 36%;
    z-index: 3;
}

.appointments {
    padding: 20px 0;
}

.appointments .container {
    position: relative;
}

.appointments .wrapper {
    justify-content: space-between;
}

@media (max-width:767px) {
    .appointments .wrapper {
        flex-direction: column;
    }

    .appointments .wrapper .current-appointments,
    .appointments .wrapper .prev-appointments {
        width: 100%;
    }

    .appointments .wrapper .prev-appointments {
        margin-top: 20px;
    }

}

.appointments .current-appointments {
    /* flex: 1; */
    width: 44%;
}

.appointments .prev-appointments {
    width: 46%;
}

.appointments h3 {
    margin: 0 0 15px;
}

.appointments .prev-appointments .wrapper .card {
    /* justify-content: space-between; */
    /*gap: 20px; */
    width: 49%;
}

@media (max-width:767px) {
    .appointments .prev-appointments .wrapper .card {
        width: 100%;
        margin-top: 20px;
    }

}

.appointments .card {
    box-shadow: 0 3px 15px #cecdcd;
    padding: 20px;
    border-radius: 15px;
}

.appointments .card .content-title {
    display: flex;
    justify-content: space-between;
}

.appointments .card .content-title span {
    font-size: 12px;
    font-weight: 600;
}

.appointments .card .content-title span:nth-child(2) {
    color: var(--main-color);
}

.appointments .card p {
    font-size: 11px;
    color: #424040;
}

.appointments .card a {
    background-color: var(--main-color);
    padding: 10px 40px;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
}

@media (max-width:767px) {
    .appointments .card a {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.appointments .prev-appointments .card a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.appointments .card hr {
    border-color: rgba(51, 51, 51, 0.336);
}

.appointments .card .time-date .col {
    display: inline;
    margin-left: 10px;
    font-size: 13px;
}


.appointments .more-watch,
.consultants .more-watch {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--main-color);
    font-weight: bold;
}

.consultants {
    padding: 40px 0;
    margin: 0;
}

.consultants h3 {
    margin: 0;
}

.consultants .container {
    position: relative;
}

.consultants .wrapper {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

@media (max-width:767px) {
    .consultants .wrapper {
        flex-direction: column;

    }

    .consultants .wrapper .col {
        width: 100%;
        margin-top: 10px;
    }
}

.consultants .col {
    width: 23%;
    padding: 20px;
    box-shadow: 0 2px 10px #e2e0e0;
    border-radius: 15px;
    text-align: center;

}

.consultants .col img {
    border-radius: 40px;
}

.consultants .col h4 {
    margin: 10px 0;
    color: var(--main-color);
}

.consultants .col p {
    color: gray;
    font-size: 12px;
    line-height: 1.5;
}


.consultation-request {
    padding: 40px 0;
    margin: 0 0 50px;
}

@media (max-width:767px) {
    .consultation-request {
        width: 100%;
        padding: 20px 0;
    }
}

.consultation-request h3 {
    text-align: center;
}

.consultation-request form {
    box-shadow: 0 3px 15px #cecdcd;
    padding: 30px 50px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
}

@media (max-width:767px) {
    .consultation-request form {
        width: 100%;
    }
}

.consultation-request form .group {
    display: flex;
    gap: 20px;
}

.consultation-request form .form-group {
    width: 49%;
    margin-top: 10px;
}

.consultation-request form .form-group-textarea {
    width: 100%;
    margin-top: 10px;
}

.consultation-request form .form-group label,
.form-group-textarea label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

form .form-group input,
form .form-group select,
form textarea {
    border: 1px solid #d1cece;
    border-radius: 3px;
    width: 100%;
}

form .form-group input,
form textarea {
    padding: 5px;
}

form button {
    border: 0;
    cursor: pointer;
    background-color: var(--main-color);
    margin-top: 20px;
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
}

footer {
    padding: 40px 15px 0 30px;
    background-color: #f7f7f7;
    color: #424040;
}

footer ul li {
    /* justify-content: space-between; */
    padding: 5px;
}

footer .wrapper .col {
    width: 32%;
}

footer .wrapper .col .wrapper ul {
    width: 50%;
}

footer .wrapper .col:nth-child(1) {
    /* justify-content: space-between; */
    flex-grow: 1;
}

/* footer .col .wrapper ul:nth-child(2) {
} */

footer .copy {
    text-align: center;
    margin: 30px 0 0;
    padding: 40px;
    color: #424040;
}